.navbar{
    justify-content: space-between;
    display: flex;
    background-color: rgb(6, 6, 8);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-item{
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-around;
    display: flex;
    color: #ffffff;
    text-decoration: none;
}

.left-links{
    left: 20px;
    bottom: 0px;
    position: fixed;
}
.left-link-img{
    color: white;
    margin-bottom: 10px;
    display: block;
}
.left-link-line{
    height: 100px;
    width: 2px;
    margin-left: 16px;
    background-color: white;
}

.right-email{
    right: 20px;
    bottom: 0px;
    justify-content: center;
    width: 20px;
    position: fixed;
}
.right-email-link{
    writing-mode: vertical-lr;
    margin-bottom: 10px;

    font-size: 15px;
    color: white;
}
.right-link-line{
    height: 100px;
    bottom: 0px;
    width: 2px;
    margin: auto;
    background-color: white;
}

